@page "/"
@inject HttpClient Http
@layout MainLayout

@if(modules != null)
{
    <nav>
    @for(int i = 0; i < modules.Count(); i++)
    {
            <a href="#@i"> @modules[i].name</a>
    }
    </nav>
    <ol>
        @for(int b = 0; b < modules.Count(); b++)
        {
            <li class="box">
                <article>
                    <h2 id="@b">@modules[b].name</h2>
                    <p><strong>Description:</strong>@modules[b].description</p>
                    <p><strong>Duration:</strong>@modules[b].duration</p>
                    <p><strong>Credits:</strong>@modules[b].creditScore</p>
                </article>
                <section class="grey_zone">
                    <h2>module co-ordinator</h2>
                    <p>@modules[b].moduleCoordinator</p>
                </section>
            </li>
        }
    </ol>
}



