@page "/"
@inject HttpClient Http
@layout MainLayout

@if(modules != null)
{
    @foreach (var module in modules)
    {
        <h2>@module.name</h2>
        <p><strong>Description:</strong>@module.description</p>
        <p><strong>Duration:</strong>@module.duration</p>
        <p><strong>Credits:</strong>@module.creditScore</p>
        <section>
            <h2>module co-ordinator</h2>
            <p>@module.moduleCoordinator</p>
        </section>
    }
}



