@page "/"
@inject HttpClient Http
@layout MainLayout

@if(modules != null)
{
    <ol>
        @foreach (var module in modules)
        {
            <li class="box">
                <article>
                    <h2>@module.name</h2>
                    <p><strong>Description:</strong>@module.description</p>
                    <p><strong>Duration:</strong>@module.duration</p>
                    <p><strong>Credits:</strong>@module.creditScore</p>
                </article>
                <section class="grey_zone">
                    <h2>module co-ordinator</h2>
                    <p>@module.moduleCoordinator</p>
                </section>
            </li>
        }
    </ol>
}



