@page "/ModuleCatalogue"
@inject HttpClient Http
@inject NavigationManager Navigation
@layout MainLayout

<link href="css/ModuleCatalogue.css" rel="stylesheet">
@if(modules != null)
{
    <header class="box">
        <h1>Module Catalogue</h1>
        <ul>
            <li>Data Science and Analytics</li>
            <li>Year 1</li>
            <li>University of Portsmouth</li>
        </ul>
        <nav class="page_navigation">
            @for (int i = 0; i < modules.Count(); i++)
            {
                <a class="page_a" href="@Navigation.Uri/#@i"> @modules[i].name</a>
            }
        </nav>
        <aside class="grey_zone">Course code: U2686PYC</aside>
    </header>
    <ol>
        @for(int b = 0; b < modules.Count(); b++)
        {
            <li class="box">
                <article>
                    <h2 id="@b">@modules[b].name</h2>
                    <p><strong>Description:</strong>@modules[b].description</p>
                    <p><strong>Duration:</strong>@modules[b].duration</p>
                    <p><strong>Credits:</strong>@modules[b].creditScore</p>
                </article>
                <section class="grey_zone">
                    <h2>module co-ordinator</h2>
                    <p>@modules[b].moduleCoordinator</p>
                </section>
            </li>
        }
    </ol>
}


